<extend name="Public/base" />
<block name="body">
	<style type="text/css">
		.edui-for-hougelou .edui-icon {
    background-position: -700px -40px;
}
	</style>
<form class="form-inline">
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">车型</div>
			<input type="text" class="form-control" id="cx" placeholder="">
			<div class="input-group-addon">工序名称</div>
			<input type="text" class="form-control" style="width: 200px;" placeholder="请输入工序名称……">
		</div>
		<div class="input-group">
			<div class="input-group-addon">车间</div>
			<input type="text" class="form-control" style="width: 120px;" id="cj" placeholder="">

			<div class="input-group-addon">工位</div>
			<input type="text" class="form-control" style="width: 60px;" id="gw" placeholder="">

			<div class="input-group-addon">工序</div>
			<input type="text" class="form-control" style="width: 60px;" id="gx" placeholder="">
		</div>
	</div>


  <!-- 加载编辑器的容器 -->
    <script id="container" name="content" type="text/plain" style="width: 95%;height: 600px;">
        这里写你的初始化内容
    </script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="__PUBLIC__/utf8-php/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/utf8-php/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
    //var bw=$(window).width()*0.95;
        var ue = UE.getEditor('container',{
      //initialFrameWidth : bw,
      //  initialFrameHeight: 600,
       toolbars:[
            ['fullscreen', 'source', '|', 'undo', 'redo', '|',
                'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'hougelou', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
                'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
                'directionalityltr', 'directionalityrtl', 'indent', '|',
                'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
                'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
                'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe','insertcode', 'webapp', 'pagebreak', 'template', 'background', '|',
                'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
                'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', '|',
                'print', 'preview', 'searchreplace', 'help']
        ]
        //当鼠标放在工具栏上时显示的tooltip提示,留空支持自动多语言配置，否则以配置值为准
        ,labelMap:{
        'hougelou': 'hello,后阁楼'
        }

        });
        
         baidu.editor.commands['hougelou'] = { execCommand: function() { this.execCommand('insertHtml', "<img src='http://www.hougelou.com/images/logo.png' />"); return true; }, queryCommandState: function() { } };
    </script>


<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">编制</div>
			<input type="text" class="form-control" id="bzplaceholder="">
			<div class="input-group-addon">校对</div>
			<input type="text" class="form-control" id="jd" placeholder="">
				<div class="input-group-addon">审核</div>
			<input type="text" class="form-control" id="" placeholder="">
				<div class="input-group-addon">批准</div>
			<input type="text" class="form-control" id="pz" placeholder="">
		</div>
	</div>





</form>
	

</block>